.top-header {
  background: #000;
  z-index: 9999;
  position: relative; }

header {
  z-index: 9999;
  position: relative; }

.call-header {
  padding: 4px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .call-header a {
    color: #fff;
    text-decoration: underline;
    font: 300 1rem 'Roboto', sans-serif; }
    .call-header a:hover {
      text-decoration: none; }

.header-container {
  display: grid;
  grid-template-columns: 4fr 7fr 1fr 5fr;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 20px; }
  @media (max-width: 1280px) {
    .header-container {
      grid-template-columns: 3fr 8fr 1fr 5fr; } }
  .header-container nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .header-container nav a {
      color: #000;
      margin: 0 10px;
      font: 300 1rem 'Roboto', sans-serif; }

.header-logo {
  padding: 8px 0; }

.search-lang-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90px; }

.search-box {
  position: relative;
  top: 2px;
  cursor: pointer; }

.lang-box a {
  margin: 0 3px;
  color: #000;
  font: 300 1rem 'Roboto', sans-serif; }

.lang-box a:first-child {
  position: relative; }
  .lang-box a:first-child::after {
    content: '|';
    position: absolute;
    right: -6.5px; }

.lang-box .active-lang {
  color: #BE111F; }

.btn-header-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font: 300 1rem 'Roboto', sans-serif;
  text-align: center;
  word-wrap: none; }
  .btn-header-wrap a:first-child {
    background: #E02F3D;
    color: #fff;
    padding: 39px 30px;
    white-space: nowrap;
    width: 100%;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .btn-header-wrap a:first-child .calendar {
      position: relative;
      left: -15px;
      top: -2.5px; }
      .btn-header-wrap a:first-child .calendar span {
        color: #fff;
        background: #000;
        border-radius: 50%;
        text-align: center;
        height: 10px;
        width: 10px;
        padding: 2px;
        position: absolute;
        top: 11px;
        left: 10px;
        font: 300 .6rem 'Roboto', sans-serif; }
  .btn-header-wrap a:last-child {
    background: #BE111F;
    padding: 39px 20px;
    white-space: nowrap;
    color: #fff; }

.dark-border {
  border-bottom: 4px solid #000; }

.slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.slide.slick-slide {
  height: 80vh; }

.slick-dots li {
  display: inline-block;
  width: 40px;
  height: 3px;
  background: #E9E9E9;
  opacity: 1;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  margin: 0 5px;
  border-radius: 0; }

.slick-dots .slick-active {
  background: #E02F3D; }

.slider-text-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  max-width: 520px;
  margin: 0 auto;
  margin-top: 15%;
  position: relative; }
  .slider-text-box .bg-slider {
    position: absolute;
    height: 500px;
    left: -100%; }
  .slider-text-box .icon-slider {
    margin-bottom: 60px;
    z-index: 2;
    position: relative; }
  .slider-text-box .text-simple {
    margin-bottom: 80px;
    z-index: 2;
    position: relative; }

.decision-wrapper {
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-gap: 80px; }
  .decision-wrapper .tabs__caption {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .decision-wrapper .tabs__caption p {
      text-align: center;
      padding: 15px 40px;
      border: 3px solid #000;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      cursor: pointer;
      margin-bottom: 40px;
      font: 300 1.125rem 'Roboto', sans-serif; }
      .decision-wrapper .tabs__caption p:hover {
        border: 3px solid #E02F3D; }
    .decision-wrapper .tabs__caption .active-tab {
      background: #E02F3D;
      color: #fff;
      border: 3px solid #E02F3D; }
  .decision-wrapper .active {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px; }
    .decision-wrapper .active a {
      background: #E9E9E9;
      text-decoration: underline;
      padding: 15px 50px 15px 20px;
      text-align: left;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      height: 20px;
      color: #000;
      font: 300 1rem 'Roboto', sans-serif;
      position: relative; }
      .decision-wrapper .active a::after {
        content: url(../img/icon/arrow-red.svg);
        position: absolute;
        right: 20px;
        top: 30%; }

.manufacturers-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px; }

.manufacturers-partner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px; }
  .manufacturers-partner a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .manufacturers-partner img {
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%); }
    .manufacturers-partner img:hover {
      -webkit-filter: grayscale(0%);
              filter: grayscale(0%); }

.manufacturers-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .manufacturers-img img {
    height: auto;
    max-width: 100%; }

.company-wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 50px; }

.advantage-wraper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.advantage-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .advantage-box p {
    text-align: justify;
    max-width: 230px; }
  .advantage-box img {
    height: 170px;
    margin-bottom: 40px; }

.last-news-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px; }
  .last-news-wrapper .border {
    border-bottom: 2px solid #BE111F;
    background: #F9F9F9; }

.news-panel {
  background: #000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  padding: 10px 20px; }
  .news-panel .panel-text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .news-panel p {
    position: relative;
    padding-left: 30px;
    font: 300 .87rem 'Roboto', sans-serif; }
    .news-panel p::before {
      content: '';
      height: 4px;
      width: 4px;
      display: block;
      background: #BE111F;
      position: absolute;
      left: 20px;
      top: 36%; }

.box-img-news img {
  height: 100%;
  width: 100%; }

.news-info-box {
  padding: 40px;
  position: relative; }
  .news-info-box .text-simple {
    font-weight: 500; }
  .news-info-box .text-simple-sm {
    margin-top: 20px; }
  .news-info-box .link-news {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .news-info-box .link-news a {
      color: #000;
      text-decoration: underline;
      font: 300 1.125rem 'Roboto', sans-serif; }
      .news-info-box .link-news a:hover {
        text-decoration: none; }

.sm-news-box {
  padding: 20px;
  position: relative; }
  .sm-news-box .sm-news-img {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 20px; }
    .sm-news-box .sm-news-img p {
      position: relative;
      font: 300 .87rem 'Roboto', sans-serif; }
      .sm-news-box .sm-news-img p::before {
        content: url(../img/icon/clock-red.svg);
        position: absolute;
        left: -20px;
        top: 5%; }
  .sm-news-box .text-simple {
    max-width: 250px;
    font: 500 1.125rem/150% 'Roboto', sans-serif; }
  .sm-news-box .play-news {
    position: absolute;
    right: 15px;
    bottom: 10px; }

.big-news-2 .news-container {
  display: grid;
  grid-template-columns: 3fr 4fr; }
  .big-news-2 .news-container .news-info-box {
    padding: 15px; }

.big-news {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3; }
  .big-news .text-simple-sm {
    height: 200px; }

.sm-news:first-child {
  grid-column-start: 2;
  grid-column-end: 3; }

.sm-news:last-child {
  grid-column-start: 3;
  grid-column-end: 4; }

.big-news-2 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3; }
  .big-news-2 .text-simple-sm {
    height: 140px; }

.feedback {
  margin-bottom: -4px; }

.feedback-wrapper {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-gap: 50px; }
  .feedback-wrapper .text-simple {
    margin-bottom: 35px; }
  .feedback-wrapper .feedback-input-wrapper {
    padding: 30px 50px;
    border: 2px solid #000000;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
    margin-bottom: 30px; }
    .feedback-wrapper .feedback-input-wrapper input {
      border: 0.5px solid #000;
      background: #F9F9F9;
      padding: 5px 15px;
      height: 30px; }
      .feedback-wrapper .feedback-input-wrapper input:focus {
        border: 0.5px solid #E02F3D; }

.checkbox input[type="checkbox"] {
  opacity: 0;
  position: absolute; }

.checkbox label {
  position: relative;
  display: inline-block;
  margin-top: 10px;
  padding-left: 17px;
  font: 300 .87rem 'Roboto', sans-serif;
  text-decoration: underline; }

.checkbox label::before,
.checkbox label::after {
  position: absolute;
  content: "";
  /*Needed for the line-height to take effect*/
  display: inline-block; }

/*Outer box of the fake checkbox*/
.checkbox label::before {
  height: 10px;
  width: 10px;
  background: #F9F9F9;
  border: 0.5px solid #E02F3D;
  left: 0px;
  top: 2px; }

/*Checkmark of the fake checkbox*/
.checkbox label::after {
  height: 2px;
  width: 4px;
  border-left: 1px solid;
  border-bottom: 1px solid;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  left: 3px;
  top: 6px; }

/*Hide the checkmark by default*/
.checkbox input[type="checkbox"] + label::after {
  content: none; }

/*Unhide on the checked state*/
.checkbox input[type="checkbox"]:checked + label::after {
  content: ""; }

::-webkit-input-placeholder {
  font: 300 1rem 'Roboto', sans-serif;
  color: #5B5B5B; }

::-moz-placeholder {
  font: 300 1rem 'Roboto', sans-serif;
  color: #5B5B5B; }

/* Firefox 19+ */
:-moz-placeholder {
  font: 300 1rem 'Roboto', sans-serif;
  color: #5B5B5B; }

/* Firefox 18- */
:-ms-input-placeholder {
  font: 300 1rem 'Roboto', sans-serif;
  color: #5B5B5B; }

.feedback-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.decision-item {
  margin-bottom: 40px; }

.decision-item-short {
  display: grid;
  grid-template-columns: 3fr 8fr;
  grid-gap: 60px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .decision-item-short .decision-item-short-box-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 40px; }
  .decision-item-short img {
    max-width: 100%;
    height: auto; }
  .decision-item-short .decision-item-short-box {
    margin-bottom: 25px; }
  .decision-item-short .text-simple-sm {
    color: #3D3D3D;
    font-size: .87rem; }
  .decision-item-short .time {
    font: 300 .87rem 'Roboto', sans-serif;
    color: #BE111F;
    margin-bottom: 10px; }

.decision-tab-wrapper {
  display: grid;
  grid-template-columns: 3fr 8fr;
  grid-gap: 60px;
  position: relative; }
  .decision-tab-wrapper .title-xl {
    position: absolute; }
  .decision-tab-wrapper .tabs__caption {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 70px; }
    .decision-tab-wrapper .tabs__caption p {
      text-align: center;
      padding: 16px 20px;
      padding-right: 35px;
      border: 3px solid #000;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      cursor: pointer;
      margin-bottom: 30px;
      text-align: left;
      font: 300 1rem 'Roboto', sans-serif; }
      .decision-tab-wrapper .tabs__caption p:hover {
        border: 3px solid #E02F3D; }
    .decision-tab-wrapper .tabs__caption .active-tab {
      position: relative;
      border: 3px solid #E02F3D; }
      .decision-tab-wrapper .tabs__caption .active-tab::after {
        position: absolute;
        content: url(../img/icon/arrow-white.svg);
        right: 10px; }
  .decision-tab-wrapper .active {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .decision-tab-wrapper .active img {
      max-width: 100%;
      height: auto;
      width: 700px;
      margin: 30px 0; }

.partner {
  margin-bottom: 40px; }
  .partner .partner-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center; }
    .partner .partner-container img {
      height: 50px;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      -webkit-filter: grayscale(100%);
              filter: grayscale(100%); }
      .partner .partner-container img:hover {
        -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
                transform: scale(1.1);
        -webkit-filter: grayscale(0%);
                filter: grayscale(0%); }

.dark-block {
  background: #000;
  margin-bottom: 80px; }

.dark-wrapper {
  padding: 28px 0;
  color: #fff; }

.dark-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .dark-wrapper .dark-text {
    max-width: 750px; }
    .dark-wrapper .dark-text .dark-title {
      font: 500 1.25rem 'Roboto', sans-serif; }
  .dark-wrapper .dark-title-2 {
    margin-bottom: 15px; }

.bredcrumbs {
  margin-bottom: 40px; }

.bredcrumbs-container {
  background: #000;
  display: inline-block;
  padding: 5px 100px;
  padding-top: 1px; }
  .bredcrumbs-container a {
    color: #fff;
    margin-right: 10px;
    font: 300 .87rem 'Roboto', sans-serif;
    position: relative;
    padding-right: 15px; }
    .bredcrumbs-container a::after {
      content: url(../img/icon/bredcrumbs-arrow.svg);
      position: absolute;
      top: 13%;
      right: -5px; }
  .bredcrumbs-container a:last-child::after {
    display: none; }

footer {
  background: #E9E9E9; }

.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 2fr;
  grid-gap: 25px; }
  .footer-container .footer-box-link {
    padding: 40px 0; }
  .footer-container .footer-title {
    font: 500 1.125rem 'Roboto', sans-serif;
    margin-bottom: 25px; }
  .footer-container .footer-simple-link {
    margin-bottom: 25px;
    font: 300 1.125rem 'Roboto', sans-serif;
    display: block;
    color: #000; }
  .footer-container .footer-box-sm {
    display: grid;
    grid-template-columns: 1fr 1fr; }

.footer-social-box {
  background: #000;
  padding: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative; }
  .footer-social-box::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 40px;
    right: 0;
    bottom: -40px;
    display: block;
    background: #BE111F; }
  .footer-social-box a {
    color: #fff;
    font: 300 1rem 'Roboto', sans-serif;
    margin-bottom: 60px;
    padding-right: 40px;
    position: relative; }
  .footer-social-box a:last-child {
    margin: 0; }
  .footer-social-box .insta::after {
    position: absolute;
    top: -5px;
    right: -20px;
    content: url(../img/icon/insta.svg); }
  .footer-social-box .fb::after {
    position: absolute;
    top: -5px;
    right: -20px;
    content: url(../img/icon/fb.svg); }
  .footer-social-box .tg::after {
    position: absolute;
    top: -5px;
    right: -20px;
    content: url(../img/icon/telegram.svg); }
  .footer-social-box .phone::after {
    position: absolute;
    top: -5px;
    right: -20px;
    content: url(../img/icon/phone.svg); }
  .footer-social-box .mail::after {
    position: absolute;
    top: -5px;
    right: -20px;
    content: url(../img/icon/mail.svg); }

.footer-black {
  background: #000;
  height: 40px; }

.fixed-social-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 10px;
  padding-top: 140px;
  position: fixed;
  right: 0;
  top: 0;
  background: #000;
  z-index: 99999;
  width: 30px;
  height: 100vh; }
  .fixed-social-wrapper a {
    margin-bottom: 30px; }
  .fixed-social-wrapper .insta::after {
    position: relative;
    content: url(../img/icon/insta.svg); }
  .fixed-social-wrapper .fb::after {
    position: relative;
    content: url(../img/icon/fb.svg); }
  .fixed-social-wrapper .tg::after {
    position: relative;
    content: url(../img/icon/telegram.svg); }
  .fixed-social-wrapper .phone::after {
    position: relative;
    content: url(../img/icon/phone.svg); }
  .fixed-social-wrapper .mail::after {
    position: relative;
    content: url(../img/icon/mail.svg); }

.title-xl {
  text-transform: uppercase;
  font: 700 1.2rem 'Roboto', sans-serif;
  margin-bottom: 70px;
  position: relative; }
  @media (max-width: 990px) {
    .title-xl {
      font-size: 1rem;
      margin-bottom: 40px; } }
  .title-xl::before {
    content: '';
    display: block;
    height: 2px;
    width: 250px;
    top: 45%;
    left: -260px;
    background: #000;
    position: absolute; }

.text-simple {
  font: 300 1.125rem/150% 'Roboto', sans-serif; }
  @media (max-width: 990px) {
    .text-simple {
      font-size: .87rem; } }

.text-simple-sm {
  font: 300 1rem/150% 'Roboto', sans-serif; }
  @media (max-width: 990px) {
    .text-simple-sm {
      font-size: .87rem; } }

.btn-dark {
  border: 3px solid #E02F3D;
  background: transparent;
  padding: 16px 200px 16px 50px;
  color: #fff;
  position: relative;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  cursor: pointer;
  font: 300 1.125rem 'Roboto', sans-serif; }
  .btn-dark:hover {
    background: #E02F3D; }
  .btn-dark::after {
    position: absolute;
    top: 30%;
    right: 20px;
    content: url(../img/icon/arrow.svg); }

.btn-white {
  border: 3px solid #E02F3D;
  background: transparent;
  padding: 16px 200px 16px 50px;
  color: #000;
  position: relative;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  font: 300 1.125rem 'Roboto', sans-serif;
  cursor: pointer; }
  .btn-white:hover {
    background: #E02F3D;
    color: #fff; }
  .btn-white::after {
    position: absolute;
    top: 30%;
    right: 20px;
    content: url(../img/icon/arrow-white.svg); }

main {
  min-height: -webkit-calc(100vh - 80px);
  min-height: calc(100vh - 80px); }

input,
button {
  outline: none;
  border-radius: 0; }

.container {
  max-width: 1920px;
  margin: 0 auto; }

.padding {
  padding: 0 50px; }
  @media (max-width: 990px) {
    .padding {
      padding: 0 20px; } }
  @media (max-width: 576px) {
    .padding {
      padding: 0 15px; } }

.margin {
  margin-bottom: 140px; }
  @media (max-width: 990px) {
    .margin {
      margin-bottom: 40px; } }

.center {
  text-align: center;
  margin: 0 auto; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0; }

a {
  text-decoration: none; }

.tabs__content {
  display: none; }
