main {
    min-height: calc(100vh - 80px);
}

input,
button {
    outline: none;
    border-radius: 0;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

.padding {
    padding: 0 50px;
    @media (max-width: 990px) {
        padding: 0 20px;
    }
    @media (max-width: 576px) {
        padding: 0 15px;
    }
}

.margin {
    margin-bottom: 140px;
    @media (max-width: 990px) {
        margin-bottom: 40px;
    }
}

.center {
    text-align: center;
    margin: 0 auto;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

a {
    text-decoration: none;
}

.tabs__content {
    display: none;
}

.tabs__content.active {
    display: block;
}