.top-header {
    background: #000;
    z-index: 9999;
    position: relative;
}

header {
    z-index: 9999;
    background: #fff;
    position: relative;
}

.call-header {
    padding: 4px 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    a {
        color: #fff;
        text-decoration: underline;
        font: 300 1rem 'Roboto', sans-serif;
        &:hover {
            text-decoration: none;
        }
    }
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        a {
            color: #000;
            margin: 0 10px;
            font: 300 1rem 'Roboto', sans-serif;
        }
    }
}

.header-logo {
    padding: 8px 0;
    margin: auto;
    margin-left: 0;
}

.search-lang-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90px;
    margin: 0 60px;
}

.search-box {
    position: relative;
    top: 2px;
    cursor: pointer;
}

.lang-box {
    a {
        margin: 0 3px;
        color: #000;
        font: 300 1rem 'Roboto', sans-serif;
    }
    a:first-child {
        position: relative;
        &::after {
            content: '|';
            position: absolute;
            right: -6.5px;
        }
    }
    .active-lang {
        color: #BE111F;
    }
}

.btn-header-wrap {
    display: flex;
    font: 300 1rem 'Roboto', sans-serif;
    text-align: center;
    word-wrap: none;
    a:first-child {
        background: #fff;
        color: #000;
        border: 1px solid #BE111F;
        padding: 25px 35px;
        white-space: nowrap;
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        .calendar {
            position: relative;
            left: -15px;
            top: -2.5px;
            span {
                color: #fff;
                background: #BE111F;
                border-radius: 50%;
                text-align: center;
                height: 10px;
                width: 10px;
                padding: 2px;
                position: absolute;
                top: 11px;
                left: 10px;
                font: 300 .6rem 'Roboto', sans-serif;
            }
        }
    }
    a:last-child {
        background: #BE111F;
        padding: 39px 25px;
        white-space: nowrap;
        color: #fff;
    }
}

.dark-border {
    border-bottom: 4px solid #000;
}