.partner-info-container {
    display: grid;
    grid-template-columns: 3fr 4fr;
    grid-gap: 50px;
    @media (max-width: 990px) {
        grid-template-columns: 1fr;
        grid-gap: 25px;
    }
    form {
        width: 100%;
    }
}

.partner-box-form {
    background: #fff;
    padding: 30px 50px;
    display: flex;
    align-items: center;
    border: 2px solid #000000;
    @media (max-width: 1400px) {
        padding: 20px;
    }
    .text-simple {
        font-weight: 500;
        margin-bottom: 30px;
        @media (max-width: 650px) {
            margin-bottom: 20px;
        }
    }
    .feedback-input-wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0;
        border: none;
        margin-bottom: 0;
        @media (max-width: 650px) {
            grid-gap: 20px;
            grid-template-columns: 1fr;
        }
        button {
            width: 100%;
        }
    }
    .btn-wrap-form {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 4;
        @media (max-width: 650px) {
            grid-column-start: auto;
            grid-column-end: auto;
            grid-row-start: auto;
        }
    }
}