.advantage-wraper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 1100px) {
        padding-right: 50px;
    }
    @media (max-width:990px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 50px;
        padding: 0;
        justify-items: start;
    }
    @media (max-width: 650px) {
        grid-template-columns: 1fr;
        justify-items: center;
    }
}

.advantage-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
        text-align: justify;
        max-width: 230px;
        @media (max-width: 1100px) {
            font-size: 1rem;
        }
    }
    .img-adv {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 125px;
        margin-bottom: 40px;
        @media (max-width: 1100px) {
            height: 150px;
            max-width: 100%;
            margin-bottom: 30px;
        }
        @media (max-width: 650px) {
            height: 80px;
        }
    }
    .adv-1 {
        @media (max-width: 650px) {
            position: relative;
            bottom: -10px;
        }
        &::before {
            content: '';
            background-image: url(../img/advantage/surface1.svg);
            width: calc(190px / 2);
            height: calc(195px / 2);
            background-size: contain;
            background-repeat: no-repeat;
        }
        &:hover {
            &::before {
                display: none;
            }
            &::after {
                opacity: 1;
                position: relative;
            }
        }
        &::after {
            content: '';
            opacity: 0;
            position: absolute;
            background-image: url(../img/advantage/surface1-hover.svg);
            width: calc(190px / 2);
            height: calc(195px / 2);
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
    .adv-2 {
        &::before {
            content: '';
            background-image: url(../img/advantage/computer.svg);
            width: calc(190px / 2);
            height: calc(195px / 2);
            background-size: contain;
            background-repeat: no-repeat;
        }
        &:hover {
            &::before {
                display: none;
            }
            &::after {
                opacity: 1;
                position: relative;
            }
        }
        &::after {
            content: '';
            opacity: 0;
            position: absolute;
            background-image: url(../img/advantage/computer-hover.svg);
            width: calc(190px / 2);
            height: calc(195px / 2);
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
    .adv-3 {
        &::before {
            content: '';
            background-image: url(../img/advantage/password.svg);
            width: calc(190px / 2);
            height: calc(195px / 2);
            background-size: contain;
            background-repeat: no-repeat;
        }
        &:hover {
            &::before {
                display: none;
            }
            &::after {
                opacity: 1;
                position: relative;
            }
        }
        &::after {
            content: '';
            opacity: 0;
            position: absolute;
            background-image: url(../img/advantage/password-hover.svg);
            width: calc(190px / 2);
            height: calc(195px / 2);
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
    .adv-4 {
        &::before {
            content: '';
            background-image: url(../img/advantage/security.svg);
            width: calc(190px / 2);
            height: calc(195px / 2);
            background-size: contain;
            background-repeat: no-repeat;
        }
        &:hover {
            &::before {
                display: none;
            }
            &::after {
                opacity: 1;
                position: relative;
            }
        }
        &::after {
            content: '';
            opacity: 0;
            position: absolute;
            background-image: url(../img/advantage/security-hover.svg);
            width: calc(190px / 2);
            height: calc(195px / 2);
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
}