footer {
    background: #E9E9E9;
}

.footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 2fr;
    grid-gap: 25px;
    @media (max-width: 990px) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 0;
    }
    @media (max-width: 650px) {
        grid-template-columns: 1fr 1fr;
        padding: 30px 0 0 0;
    }
    .footer-box-link {
        padding: 40px 0;
        @media (max-width: 990px) {
            padding: 0;
        }
    }
    .footer-title {
        font: 500 1.125rem/150% 'Roboto', sans-serif;
        margin-bottom: 25px;
        @media (max-width: 1280px) {
            margin-bottom: 15px;
        }
        @media (max-width: 990px) {
            margin-top: 20px;
        }
        @media (max-width: 650px) {
            margin-top: 0;
            font-size: 1rem;
        }
    }
    .footer-simple-link {
        margin-bottom: 25px;
        font: 300 1.125rem/150% 'Roboto', sans-serif;
        display: block;
        color: #000;
        &:hover {
            color: #E02F3D;
        }
        @media (max-width: 1280px) {
            margin-bottom: 15px;
        }
        @media (max-width: 650px) {
            font-size: 1rem;
            margin-right: 10px;
        }
    }
    .footer-box-sm {
        display: grid;
        grid-template-columns: 1fr 1fr;
        @media (max-width: 990px) {
            grid-template-columns: 2fr 3fr;
        }
    }
}

.footer-box-link:first-child {
    @media (max-width: 990px) {
        grid-column-start: 1;
        grid-column-end: 2;
    }
    @media (max-width: 650px) {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

.footer-box-link:nth-child(3) {
    @media (max-width: 990px) {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        padding-bottom: 25px;
    }
}

.footer-social-box {
    background: #000;
    padding: 40px;
    padding-right: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    position: relative;
    @media (max-width: 1400px) {
        margin-right: 0;
    }
    @media (max-width: 990px) {
        grid-row-start: 1;
        grid-row-end: 3;
        padding: 20px;
        justify-content: flex-start;
        padding-top: 80px;
    }
    @media (max-width: 650px) {
        grid-row-start: 4;
        grid-row-end: 5;
        grid-column-start: 1;
        grid-column-end: 3;
        padding: 30px 15px;
        margin-top: 20px;
    }
    &::before {
        @media (max-width: 650px) {
            content: '';
            background: #000;
            position: absolute;
            left: -9%;
            display: block;
            height: 100%;
            top: 0;
            width: 118%;
        }
    }
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 40px;
        right: 0;
        bottom: -40px;
        display: block;
        z-index: 9999;
        background: #BE111F;
        @media (max-width: 1200px) {
            width: 110%;
            right: -10%;
        }
        @media (max-width: 990px) {
            height: 30px;
            bottom: -30px;
            width: 100%;
            right: 0;
            left: 0;
        }
        @media (max-width: 650px) {
            left: -9%;
            right: 0;
            width: 118%;
            z-index: 999;
        }
    }
    a {
        color: #fff;
        font: 300 1rem 'Roboto', sans-serif;
        margin-bottom: 60px;
        padding-right: 40px;
        position: relative;
        @media (max-width: 990px) {
            margin-bottom: 50px;
        }
        @media (max-width: 650px) {
            margin-bottom: 30px;
        }
    }
    .mob-insta {
        @media (max-width: 650px) {
            &::after {
                position: absolute;
                top: -5px;
                right: -10px;
                content: url(../img/icon/insta.svg);
            }
            &:hover {
                &::after {
                    position: absolute;
                    opacity: 0;
                }
                &::before {
                    position: absolute;
                    opacity: 1;
                    top: -5px;
                    right: -10px;
                }
            }
            &::before {
                content: url(../img/icon/insta-hover.svg);
                position: absolute;
                opacity: 0;
            }
        }
    }
    .mob-fb {
        @media (max-width: 650px) {
            &::after {
                position: absolute;
                top: -5px;
                right: -10px;
                content: url(../img/icon/fb.svg);
            }
            &:hover {
                &::after {
                    position: absolute;
                    opacity: 0;
                }
                &::before {
                    position: absolute;
                    opacity: 1;
                    top: -5px;
                    right: -10px;
                }
            }
            &::before {
                content: url(../img/icon/fb-hover.svg);
                position: absolute;
                opacity: 0;
            }
        }
    }
    .mob-teg {
        @media (max-width: 650px) {
            &::after {
                position: absolute;
                top: -5px;
                right: -10px;
                content: url(../img/icon/telegram.svg);
            }
            &:hover {
                &::after {
                    position: absolute;
                    opacity: 0;
                }
                &::before {
                    position: absolute;
                    opacity: 1;
                    top: -3px;
                    right: -10px;
                }
            }
            &::before {
                content: url(../img/icon/telega-hover.svg);
                position: absolute;
                opacity: 0;
            }
        }
    }
    .mob-phone {
        @media (max-width: 650px) {
            &::after {
                position: absolute;
                top: -5px;
                right: -10px;
                content: url(../img/icon/phone.svg);
            }
            &:hover {
                &::after {
                    position: absolute;
                    opacity: 0;
                }
                &::before {
                    position: absolute;
                    opacity: 1;
                    top: -5px;
                    right: -10px;
                }
            }
            &::before {
                content: url(../img/icon/phone-hover.svg);
                position: absolute;
                opacity: 0;
            }
        }
    }
    .mob-mail {
        @media (max-width: 650px) {
            &::after {
                position: absolute;
                top: -5px;
                right: -10px;
                content: url(../img/icon/mail.svg);
            }
            &:hover {
                &::after {
                    position: absolute;
                    opacity: 0;
                }
                &::before {
                    position: absolute;
                    opacity: 1;
                    top: -2px;
                    right: -10px;
                }
            }
            &::before {
                content: url(../img/icon/mail-hover.svg);
                position: absolute;
                opacity: 0;
            }
        }
    }
    a:last-child {
        margin: 0;
    }
    .insta {
        &::after {
            position: absolute;
            top: -5px;
            right: -10px;
            content: url(../img/icon/insta.svg);
        }
        &:hover {
            &::after {
                position: absolute;
                opacity: 0;
            }
            &::before {
                position: absolute;
                opacity: 1;
                top: -5px;
                right: -10px;
            }
        }
        &::before {
            content: url(../img/icon/insta-hover.svg);
            position: absolute;
            opacity: 0;
        }
    }
    .fb {
        &::after {
            position: absolute;
            top: -5px;
            right: -10px;
            content: url(../img/icon/fb.svg);
        }
        &:hover {
            &::after {
                position: absolute;
                opacity: 0;
            }
            &::before {
                position: absolute;
                opacity: 1;
                top: -5px;
                right: -10px;
            }
        }
        &::before {
            content: url(../img/icon/fb-hover.svg);
            position: absolute;
            opacity: 0;
        }
    }
    .tg {
        &::after {
            position: absolute;
            top: -5px;
            right: -10px;
            content: url(../img/icon/telegram.svg);
        }
        &:hover {
            &::after {
                position: absolute;
                opacity: 0;
            }
            &::before {
                position: absolute;
                opacity: 1;
                top: -3px;
                right: -10px;
            }
        }
        &::before {
            content: url(../img/icon/telega-hover.svg);
            position: absolute;
            opacity: 0;
        }
    }
    .phone {
        &::after {
            position: absolute;
            top: -5px;
            right: -10px;
            content: url(../img/icon/phone.svg);
        }
        &:hover {
            &::after {
                position: absolute;
                opacity: 0;
            }
            &::before {
                position: absolute;
                opacity: 1;
                top: -5px;
                right: -10px;
            }
        }
        &::before {
            content: url(../img/icon/phone-hover.svg);
            position: absolute;
            opacity: 0;
        }
    }
    .mail {
        &::after {
            position: absolute;
            top: -5px;
            right: -10px;
            content: url(../img/icon/mail.svg);
        }
        &:hover {
            &::after {
                position: absolute;
                opacity: 0;
            }
            &::before {
                position: absolute;
                opacity: 1;
                top: -2px;
                right: -10px;
            }
        }
        &::before {
            content: url(../img/icon/mail-hover.svg);
            position: absolute;
            opacity: 0;
        }
    }
}

.footer-black {
    background: #000;
    height: 40px;
    @media (max-width: 990px) {
        height: 30px;
    }
}


.mfp-content{
    position: relative;
    background: #fff;
    max-width: 500px;
    padding: 30px;
    padding-top: 35px;
    @media (max-width: 650px) {
        margin: 30px;
        max-width: 100%;
    }
    input {
        margin-bottom: 10px;
    }
    .modal-input {
        display: flex;
        flex-direction: column;
    }
    .btn-white {
        margin: 0 auto;
        display: flex;
    }
}