.advantage-wraper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.advantage-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
        text-align: justify;
        max-width: 230px;
    }
    .img-adv {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 170px;
        margin-bottom: 40px;
    }
    .adv-1 {
        &::before {
            content: url(../img/advantage/surface1.svg);
        }
        &:hover {
            &::before {
                content: url(../img/advantage/surface1-hover.svg);
            }
        }
    }
    .adv-2 {
        &::before {
            content: url(../img/advantage/computer.svg);
        }
        &:hover {
            &::before {
                content: url(../img/advantage/computer-hover.svg);
            }
        }
    }
    .adv-3 {
        &::before {
            content: url(../img/advantage/password.svg);
        }
        &:hover {
            &::before {
                content: url(../img/advantage/password-hover.svg);
            }
        }
    }
    .adv-4 {
        &::before {
            content: url(../img/advantage/security.svg);
        }
        &:hover {
            &::before {
                content: url(../img/advantage/security-hover.svg);
            }
        }
    }
}