.advantage-wraper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 40px;
    justify-content: center;
}

.advantage-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
        text-align: justify;
        max-width: 230px;
    }
    img {
        height: 170px;
        margin-bottom: 40px;
    }
}