.decision-item {
    margin-bottom: 40px;
}

.decision-item-short {
    display: grid;
    grid-template-columns: 3fr 8fr;
    grid-gap: 60px;
    align-items: center;
    .decision-item-short-box-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 40px;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    .decision-item-short-box {
        margin-bottom: 25px;
    }
    .text-simple-sm {
        color: #3D3D3D;
        font-size: .87rem;
    }
    .time {
        font: 300 .87rem 'Roboto', sans-serif;
        color: #BE111F;
        margin-bottom: 10px;
    }
}

.decision-tab-wrapper {
    display: grid;
    grid-template-columns: 3fr 8fr;
    grid-gap: 60px;
    position: relative;
    .title-xl {
        position: absolute;
    }
    .decision-caption-box {
        display: flex;
        flex-direction: column;
        margin-top: 70px;
        a {
            width: 300px;
            text-align: center;
            padding: 16px 20px;
            padding-right: 35px;
            border: 3px solid #000;
            transition: .3s;
            cursor: pointer;
            margin-bottom: 30px;
            text-align: left;
            color: #000;
            font: 300 1rem 'Roboto', sans-serif;
            position: relative;
            @media (max-width: 1400px) {
                width: auto;
            }
            &:hover {
                border: 3px solid #E02F3D;
                &::after {
                    position: absolute;
                    content: url(../img/icon/arrow-white.svg);
                    right: 10px;
                }
            }
        }
        .active-tab {
            position: relative;
            border: 3px solid #E02F3D;
            &::after {
                position: absolute;
                content: url(../img/icon/arrow-white.svg);
                right: 10px;
            }
        }
    }
    .active {
        display: flex;
        flex-direction: column;
        img {
            max-width: 100%;
            height: auto;
            width: 700px;
            margin: 30px 0;
        }
    }
}

.partner {
    margin-bottom: 40px;
    .partner-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        justify-items: center;
        img {
            height: 50px;
            transition: .3s;
            filter: grayscale(100%);
            &:hover {
                transform: scale(1.1);
                filter: grayscale(0%);
            }
        }
    }
}