.fixed-social-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 10px;
    padding-top: 190px;
    position: fixed;
    right: 50px;
    top: 0;
    background: #000;
    z-index: 999;
    width: 30px;
    height: 100vh;
    @media (max-width: 1024px) {
        right: 0;
    }
    a {
        margin-bottom: 30px;
    }
    .insta {
        &::after {
            position: relative;
            content: url(../img/icon/insta.svg);
        }
    }
    .fb {
        &::after {
            position: relative;
            content: url(../img/icon/fb.svg);
        }
    }
    .tg {
        &::after {
            position: relative;
            content: url(../img/icon/telegram.svg);
        }
    }
    .phone {
        &::after {
            position: relative;
            content: url(../img/icon/phone.svg);
        }
    }
    .mail {
        &::after {
            position: relative;
            content: url(../img/icon/mail.svg);
        }
    }
}

.fixed-social {
    position: relative;
}