.slide {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slide.slick-slide {
    height: 750px;
}

.slick-dots li {
    display: inline-block;
    width: 40px;
    height: 3px;
    background: #E9E9E9;
    opacity: 1;
    transition: all .2s ease;
    margin: 0 5px;
    border-radius: 0;
}

.slick-dots .slick-active {
    background: #E02F3D;
}

.slider-text-box {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    max-width: 520px;
    margin: 0 auto;
    margin-top: 12%;
    position: relative;
    .bg-slider {
        position: absolute;
        height: 500px;
        left: -100%;
    }
    .icon-slider {
        margin-bottom: 60px;
        z-index: 2;
        position: relative;
    }
    .text-simple {
        margin-bottom: 80px;
        z-index: 2;
        position: relative;
    }
}