.dark-block {
    background: #000;
    margin-bottom: 80px;
}

.dark-wrapper {
    padding: 28px 0;
    color: #fff;
}

.dark-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .dark-text {
        max-width: 750px;
        .dark-title {
            font: 500 1.25rem 'Roboto', sans-serif;
        }
    }
    .dark-title-2 {
        margin-bottom: 15px;
    }
}

// .bg-red {
//     background: linear-gradient(to right, #000 57.5%, #BE111F 45%);
// }
.wrapper-red {
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    // grid-gap: 40px;
    .link {
        text-decoration: underline;
        color: #fff;
        position: relative;
        // text-align: right;
        // margin: 0;
    }
}

.wrapper-red {
    position: relative;
}