.sertificar-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 25px;
}

.sertificar-box {
    img {
        margin-bottom: 25px;
        max-width: 100%;
        height: auto;
    }
    .title {
        font-weight: 500;
        margin-bottom: 20px;
    }
    .text-simple {
        text-align: center;
    }
}