.slide {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slide.slick-slide {
    height: 900px;
    @media (max-width: 1200px) {
        height: 600px;
    }
    @media (max-width: 650px) {
        height: 400px;
    }
}

.slick-dots li {
    display: inline-block;
    width: 40px;
    height: 3px;
    background: #E9E9E9;
    opacity: 1;
    transition: all .2s ease;
    margin: 0 5px;
    border-radius: 0;
}

.slick-dots .slick-active {
    background: #E02F3D;
}

.slider-text-box {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    max-width: 520px;
    margin: 0 auto;
    
    margin-top: 15%;
    position: relative;
    @media(max-width: 1280px) {
        margin-top: 20%;
    }
    @media (max-width: 1200px) {
        margin-top: 10%;
        padding-left: 50px;
    }
    @media (max-width: 990px) {
        margin-top: 18%;
        padding-left: 200px;
    }
    @media (max-width: 650px) {
        margin-top: 20%;
        padding-left: 150px;
    }
    @media (max-width: 420px) {
        padding-left: 50px;
        margin-top: 24%;
    }
    .bg-slider {
        position: absolute;
        height: 540px;
        left: -118%;
        @media (max-width: 1200px) {
            height: 480px;
            left: -80%;
        }
        @media (max-width: 990px) {
            height: 400px;
            left: -40%;
        }
        @media (max-width: 650px) {
            left: -50%;
            height: 350px;
        }
        @media (max-width: 420px) {
            left: -62%;
            height: 300px;
        }
        @media (max-width: 380px) {
            left: -55%;
            height: 250px;
        }
        @media (max-width: 360px) {
            left: -60%;
        }
        @media (max-width: 320px) {
            left: -70%;
            height: 260px;
        }
    }
    .icon-slider {
        margin-bottom: 40px;
        z-index: 2;
        position: relative;
        @media (max-width: 990px) {
            margin-bottom: 20px;
            height: 20px;
        }
        @media (max-width: 650px) {
            margin-bottom: 15px;
        }
    }
    .text-simple {
        margin-bottom: 50px;
        z-index: 2;
        height: 80px;
        position: relative;
        @media (max-width: 990px) {
            margin-bottom: 20px;
            max-width: 320px;
        }
        @media(max-width: 650px) {
            font-size: .87rem;
            margin-bottom: 15px;
        }
        @media (max-width: 420px) {
            max-width: 250px;
        }
        @media (max-width: 320px) {
            max-width: 225px;
        }
    }
}